include alerts
doctype html
html
  head
    block meta
      meta(charset='utf-8')
      meta(name='author', content='Ping.ms')
      meta(property='og:site_name', content='Ping.ms')
      meta(name='keywords', content='ping test, ping, traceroute, reverse traceroute, online ping, remote ping, server, web site, website speed, network speed, traceroutes, ping website')
      meta(name='description', content='ping.ms offers free online ping and free online traceroute service with multiple locations worldwide.')
    block css
      link(rel='stylesheet', href='//bowercdn.net/c/html5-boilerplate-4.3.0/css/normalize.css')
      link(rel='stylesheet', href='//bowercdn.net/c/html5-boilerplate-4.3.0/css/main.css')
      link(rel='stylesheet', href='//bowercdn.net/c/bootstrap-3.2.0/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/style.css')
    link(rel='shortcut icon', href='/favicon.ico', sizes='16x16')
    link(rel='icon', href='/favicon.ico', sizes='16x16')
    link(rel='icon', href='/favicon128.ico', sizes='128x128')
    link(rel='icon', href='/images/pingms-icon.png', sizes='318x317', type='image/png')
  title #{pageTitle || 'Ping.ms'}
  body
    #header
      #title
        h1
          a(href="/")
            img#logo(src='/images/pingms-logo.png', alt='Ping.ms')
    //main content
    block content
      //footer
    #footer
      .pull-right
        //whos.amung.us
        script(id='_wau5ni').
          var _wau = _wau || []; _wau.push(["small", "wmkiodnoh3et", "5ni"]);
          (function() {var s=document.createElement("script"); s.async=true;
          s.src="http://widgets.amung.us/small.js";
          document.getElementsByTagName("head")[0].appendChild(s);
          })();
      //end whos.amung.us
      .links
        a(href='/bots') Bot List
        //a(href='http://en.wikipedia.org/wiki/Ping_(networking_utility)') What is Ping?
        //a(href='http://en.wikipedia.org/wiki/Traceroute') What is Traceroute?
  //load scripts
  block js
    script(src='//bowercdn.net/c/jquery-1.11.1/dist/jquery.min.js')
    script(src='//bowercdn.net/c/bootstrap-3.2.0/dist/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='//bowercdn.net/c/handlebars-1.3.0/handlebars.min.js')
    script.
      var socket = io.connect()
    //piwik
    script.
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.esited.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 2]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
        g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    //end piwik
    //google analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-52059391-1', 'ping.ms');
      ga('send', 'pageview');
    //end google analytics
