extends layout
block content
  .bots
    h2 Peers
    table.table.table-bordered
      tr
        th(colspan='2') Location
        th Host
        th Sponsor
        th Hits
        th Seen
      each row in peers
        tr
          td.group.text-right
            if(row.primaryGroup)
              span.label.label-success= row.primaryGroup
              =' '
          td.location
            span.terminus= row.location
          td.host
            span.terminus= row.host
          td
            a(href=row.sponsor.url)= row.sponsor.name
          td.terminus= row.hits
          td.terminus(style='white-space:nowrap;')
            if row.metrics.dateSeen
              = moment(row.metrics.dateSeen).fromNow()
            else
              | (never)
  .our-disqus
    #disqus_thread
    script.
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'pingms'; // required: replace example with your forum shortname
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function(){
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
