extends layout
block content
  .bots
    h2 Peers
    table.table.table-striped
      tr
        th(colspan='2') Location
        th Host
        th Sponsor
        th Hits
        th Seen
      each row in peers
        tr
          td.group.text-right
            if(row.primaryGroup)
              span.label.label-success= row.primaryGroup
              =' '
          td.location
            span.terminus= row.location
          td.host
            span.terminus= row.host
          td
            a(href=row.sponsor.url)= row.sponsor.name
          td.terminus= row.hits
          td.terminus(style='white-space:nowrap;')
            if row.metrics.dateSeen
              = moment(row.metrics.dateSeen).fromNow()
            else
              | (never)
