extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    +tableHeader('Groups','/group/create','Create Group')
    +alerts()
    form(method='post', role='form')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Tag
          th Name
          th Label
        each row,i in list
          tr
            td
              input(type='checkbox', name='remove[]', value=row.id)
            td
              a(href='/group/edit?id=#{row.id}')
                span.label.label-primary= row.tag
            td
              a(href='/group/edit?id=#{row.id}')= row.name
            td= row.label
      div
        .pull-right.btn-group
          a.btn.btn-default(href='/group?start=#{page.previous}&search=#{search}') Previous
          a.btn.btn-default(href='/group?start=#{page.next}&search=#{search}') Next
        span #{page.start + 1} - #{page.end} of #{count} entries
        h4.text-danger Destructive
        div
          button.btn.btn-danger#tableDelete(name='delete', value='true', type='submit')
            span.glyphicon.glyphicon-remove
            | Delete Checked
