extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    +tableHeader('Pages','/page/create','Create Page')
    +alerts()
    form(method='post', role='form')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Title
          th URI
          th Created
          th Updated
          th Active
        each row,i in list
          tr
            td
              input(type='checkbox', name='remove[]', value=row.id)
            td
              a(href='/page/edit?id=#{row.id}')= row.title
            td= row.uri
            td= new Date(row.metrics.dateCreated).toDateString()
            td= new Date(row.metrics.dateModified).toDateString()
            td
              span.glyphicon.glyphicon-align-center(class='glyphicon-'+(row.active?'ok-circle text-success':'ban-circle text-danger'))
      div
        .pull-right.btn-group
          a.btn.btn-default(href='/page?start=#{page.previous}&search=#{search}') Previous
          a.btn.btn-default(href='/page?start=#{page.next}&search=#{search}') Next
        span #{page.start + 1} - #{page.end} of #{count} entries
        h4.text-danger Destructive
        div
          button.btn.btn-danger#tableDelete(name='delete', value='true', type='submit')
            span.glyphicon.glyphicon-remove
            | Delete Checked
