extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    +tableHeader('Groups','/groups/create','Create Group')
    +alerts()
    form(method='post', role='form')
      table.table.table-bordered
        tr
          th
            input#toggle(type='checkbox')
          th Tag
          th Name
          th Label
          th Aggregate Limit
        each row,i in list
          tr
            td
              input(type='checkbox', name='remove[]', value=row.id)
            td
              a(href='/groups/edit?id=#{row.id}')
                span.label.label-primary= row.tag
            td
              a(href='/groups/edit?id=#{row.id}')= row.name
            td= row.label
            td= row.limitForAggregate
      +tableFooter(page,count)
