extends ../layout
block append js
  script(src='/js/table.js')
  script(src='/bower_components/bootstrap-multiselect/js/bootstrap-multiselect.js')
  script(src='/bower_components/pGenerator/pGenerator.jquery.js')
  script(src='/js/bots.js')
block append css
  link(rel='stylesheet', href='/bower_components/bootstrap-multiselect/css/bootstrap-multiselect.css')
block content
  .container
    h1 #{bot.location}
    +alerts()
    form.form-horizontal(action='/bots/save', method='post', role='form')
      input(type='hidden', name='id', value=bot.id)
      .form-group
        label.control-label.col-sm-2 Location
        .col-sm-10
          input.form-control(type='text', name='location', placeholder='Bot Location', value=bot.location)
      .form-group
        label.control-label.col-sm-2 Hostname
        .col-sm-10
          input.form-control(type='text', name='host', placeholder='Bot Hostname', value=bot.host)
      .form-group
        label.control-label.col-sm-2 Port
        .col-sm-10
          input.form-control(type='text', name='port', placeholder='Bot Port', value=bot.port)
      .form-group
        label.control-label.col-sm-2 Secret
        .col-sm-10
          .input-group
            input.form-control(type='text', name='secret', placeholder='Bot Secret', value=bot.secret)
            span.input-group-btn
              button.btn.btn-default.btn-generate(type='button') Generate
      .form-group
        label.control-label.col-sm-2 Groups
        .col-sm-10
          select.multiselect(multiple='multiple', name='groups')
            each g,i in groups
              option(value=g.tag, selected=(bot.groups.split(',').indexOf(g.tag) > -1)) #{g.label}
      .form-group
        label.control-label.col-sm-2 Active
        .col-sm-10.checkbox
          input(type='checkbox', name='active', checked=bot.active)
      .form-group
        label.control-label.col-sm-2 Notes
        .col-sm-10
          textarea.form-control(rows='5', name='notes')= bot.notes
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Save
          button.btn.btn-warning(type='reset') Reset
